.bodyContainer{
    width: 100%;
}

.apresentationContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.apresentation{
    padding-left: 200px;
    padding-right: 20px;
    text-align: left;
}

.imgApresentation{
    padding-right: 40px;
}

.welcome{
    margin-top: 1em;

    color: #ccd6f6;
    font-size: 65px;
    font-weight: 300;
    font-family: Roboto Mono, monospace;
}

.span{
    color: #8892b0;
    font-size: 19px;
    font-weight: 400;
    font-family: Roboto Mono, monospace;
}

.hardskills{
    color: #8892b0;
}

.iconstechs{
    color: #54d8bd;
    font-size: 30px;
}

.linhaVertical {
    width: 5px;
    position: absolute;
    height: 310px;
    /*Altura da linha*/
    margin-top: 110px;
    margin-left: 180px;

    border-left: 2px solid;
    /* Adiciona borda esquerda na div como ser fosse uma linha.*/
    box-sizing: border-box;
    background-image: linear-gradient(#54d8bd, white);
}

@media screen and (max-width: 800px) {
    .apresentationContainer{
        width: 100%;
        padding: 0;
        margin: 0;

        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 20px;
    }

    .apresentation{
        padding: 0px;
        margin-bottom: 3em;
        padding: 10px;
        text-align: justify;
    }

    .welcome{
        margin-top: 0;
        text-align: center;
    }

    .imgApresentation{
        padding: 0;
    }

    .imgApresentation img{
        height: 250px;
    }
}


@media only screen and (max-width: 1180px) {
    .linhaVertical {
        display: none;
    }
}

@media only screen and (max-width: 1180px) {
    .linhaVerticalRight {
        display: none;
    }
}
