.linhaVertical {
    width: 5px;
    position: absolute;
    height: 200px;
    /*Altura da linha*/
    margin-top: 110px;
    margin-left: 180px;

    border-left: 2px solid;
    /* Adiciona borda esquerda na div como ser fosse uma linha.*/
    box-sizing: border-box;
    background-image: linear-gradient(#54d8bd, white);
}

.linhaVerticalRight {
    width: 5px;
    float: right;
    height: 1000px;
    /*Altura da linha*/
    margin-right: 2em;

    border-left: 2px solid;
    /* Adiciona borda esquerda na div como ser fosse uma linha.*/
    box-sizing: border-box;
    background-image: linear-gradient(#54d8bd, white);
}

.welcome {
    margin-top: 100px;
    font-size: 80px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: #ccd6f6;
    padding-left: 200px;
}

.span {
    text-align: left;
    padding-left: 200px;
    font-family: 'Roboto Mono', monospace;
    color: #8892b0;
    font-size: 19px;
    max-width: 1200px;
    white-space: pre-line;
}

@media only screen and (max-width: 1180px) {
    .span {
        text-align: center;
        padding-left: 0;
        margin: 50px;
    }
}

@media only screen and (max-width: 1180px) {
    .welcome {
        text-align: center;
        padding-left: 0;
        margin: 20px;
    }
}

@media only screen and (max-width: 1180px) {
    .linhaVertical {
        display: none;
    }
}

@media only screen and (max-width: 1180px) {
    .linhaVerticalRight {
        display: none;
    }
}

@media only screen and (max-width: 800px) {

    .span,
    welcome {
        text-align: center;
    }
}