.image{
    width: 150px;
}

ul{
    display: flex;
    list-style: none;
    padding: 2em;
}

ul li{
    padding-right: 2em;
}

.liNavbar{
    font-size: 15px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: bisque;
}

.navbar{
    padding-top: 4em;
}