.containerContact{
    width: 100%;
}

.contact{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: justify;
}

@media screen and (max-width: 800px){
    .contact{
        max-width: 300px;
    }
}


.contactDesc span{
    font-family: 'Roboto Mono', monospace;
    color: #ccd6f6;
}

.contactDesc{
    margin-bottom: 2em;
}