.experiences{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 700px;
    margin-top: 3em;
    text-align: justify;
}

.title{
    margin-bottom: 2em;
}

@media screen and (max-width: 800px){
    .experiences{
        max-width: 300px;
    }
}

.title h1{
    font-family: 'Roboto Mono', monospace;
    color: #ccd6f6;
    font-weight: 300;
    text-align: center;
}

.experienceTitle span{
    color: #60f6d3;
    font-family: 'Roboto Mono', monospace;
}

.experienceDesc span{
    font-family: 'Roboto Mono', monospace;
    color: #ccd6f6;
}

.experienceDesc{
    margin-bottom: 2em;
}

