.projects {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #112240;
}

.projects h1 {
    font-family: 'Roboto Mono', monospace;
    color: #ccd6f6;
    font-weight: 300;
}

.bodyProjects {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    cursor: grab;
    overflow: hidden;
    max-width: 900px;
    margin-bottom: 3em;
}


.linkViewAllProject {
    text-decoration: none;
    padding: 10px;
    background-color: #112240;
    border: 1px solid #54d8bd;
    color: #54d8bd;
    border-radius: 10px;
}

.linkViewAllProject:hover{
    background-image: linear-gradient(#0a182f, #112240);
}

.inner{
    display: flex;
}

.image-item{
    min-height: 200px;
    min-width: 400px;
    padding: 14px;
}

.image-item img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    pointer-events: none;
}

@media screen and (max-width: 800px){
    .bodyProjects{
        width: 90%;
    }

}

.viewProject{
    display: none;
}

