.projects {
    margin-top: 100px;
    text-align: center;
}

.projects h1 {
    font-family: 'Roboto Mono', monospace;
    color: #ccd6f6;
    font-weight: 300;
}

.bodyProjects {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.divProjects {
    display: flex;
    justify-content: center;
    background-color: #112240;
    color: #c9d3f3;
    width: 330px;
    height: 330px;
    margin-left: 50px;

    border-radius: 10px;
}

.h5Title {
    margin-top: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    color: #ccd6f6;
}

.spanDesc {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300px;
    white-space: pre-line;
    display: block;
    margin: 0px 20px;
    color: #a2adcc;
}

@media screen and (max-width: 768px) {
    .bodyProjects {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .divProjects {
        margin: 20px 0;
        width: 50%;
    }
}


.linkViewProject {
    text-decoration: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #112240;
    border: 1px solid #54d8bd;
    color: #54d8bd;
    border-radius: 10px;
}

.linkViewProject:hover {
    background-image: linear-gradient(#0a182f, #112240);
}

.content {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.linkViewAllProject {
    text-decoration: none;
    padding: 10px;
    background-color: #112240;
    border: 1px solid #54d8bd;
    color: #54d8bd;
    border-radius: 10px;
}

.linkViewAllProject:hover{
    background-image: linear-gradient(#0a182f, #112240);
}

.linkViewAllProjecth5 {
    padding-top: 20px;
}
