*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: 'Roboto Mono', monospace;
}

body {
  background-color: #00002c;
  width: 100%;
  height: 100vh;
}